.word-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto; width: auto;
    align-items: center;
}

.buttons{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.word{
    display: flex;
    align-items: center;
    width: 50%;
}

.word-info {
    position: relative;
    top:30px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}

.category-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
    width: 60%;
    font-size: larger;
}

.word-definition{
    margin-top: 10px;
    width: 90%;
    font-size: larger;
}

.collapse-button-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.change-buttons {
    position: relative;
    top:30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    height: auto;
    width: auto;
    align-items: center;
}

#container i{
    color: black;
    font-size: 20px !important;
}

button{
    margin: 5px;
}

