<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kubik</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/rubik.png' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block css %} {% endblock %}
    <!--===============================================================================================-->
</head>
<body>

<div class="container-contact100">

    <div class="wrap-contact100-word">
				<span class="contact100-form-title">
					{% block title %}{% endblock %}
				</span>
        <div class="navigation">
            <a href="{% url 'frontend:single_word' %}" class="btn"><i class="fa fa-file-text-o"></i></a>
            <a href="{% url 'frontend:create' %}" class="btn"><i class="fa fa-plus"></i></a>
            <a href="{% url 'frontend:words' %}" class="btn"><i class="fa fa-list"></i></a>
        </div>
        {% block body %} {% endblock %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block script %} {% endblock %}

</body>
</html>