{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Add New Word{% endblock %}
{% block body %}
    <form id="word-form">
        <div class="wrap-input100 validate-input">
            <input class="input100" type="text" id="word-input" name="word" placeholder="Word">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input">
            <textarea class="input100" id="definition-textarea" name="message" placeholder="Definition"></textarea>
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
            <select class="input100 custom-select custom-select-lg" style="border: none;" type="text" id="type-input" name="word">
                <option disabled selected value> -- select a word type -- </option>
                <option value="N">Noun</option>
                <option value="Adj">Adjective</option>
                <option value="V">Verb</option>
                <option value="Adv">Adverb</option>
                <option value="P">Pronoun</option>
                <option value="Num">Number</option>
                <option value="Pre">Preposition</option>
                <option value="Det">Determiner</option>
                <option value="Con">Conjunction</option>
                <option value="Int">Interjection</option>
            </select>
        </div>

        <div class="wrap-input100">
            <select class="input100 custom-select custom-select-lg" style="border: none;" type="text" id="category-input" name="word">
                <option disabled selected value> -- select a category --  </option>
                {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn" id="create-task">
						<span id="button">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							Add New Word
						</span>
            </button>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/create.js' %}"></script>
{% endblock %}

