{% extends 'frontend/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/single.css' %}">
{% endblock %}
{% block title %}Word{% endblock %}
{% block body %}
    <div id="container">
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/single.js' %}"></script>
{% endblock %}

