{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Words{% endblock %}
{% block body %}
    <div class="status-buttons" style="margin-left: auto; margin-right: auto; width: 300px; display: flex; justify-content: space-between">
        <button class="btn btn-primary" onclick="getWordsList('all').then(data=>populateWords(data))">All</button>
        <button class="btn btn-danger" onclick="getWordsList('P').then(data=>populateWords(data))">Poor</button>
        <button class="btn btn-warning" onclick="getWordsList('G').then(data=>populateWords(data))">Good</button>
        <button class="btn btn-success" onclick="getWordsList('E').then(data=>populateWords(data))">Excellent</button>
    </div>

    <table class="table table-hover table-bordered" style="margin-top: 35px;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Word</th>
            <th scope="col">Definition</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/words.js' %}"></script>
{% endblock %}

